{{ define "createProduct" }}

{{ template "header" }}

<main>
    <h1>Создать продукт</h1>
    <form action="/createProduct" method="post">
        <input type="text" name="title" id="title" placeholder="Введите наименование товара" class="w3-bar">
        <br>
        <textarea name="anons" id="anons" class="w3-bar" placeholder="Введите анонс статьи"></textarea>
        <br>
        <textarea name="full_text" id="full_text" class="w3-bar" placeholder="Введите полный текст статьи"></textarea>
        <br>

        <button class="w3-button" name="submit" >Создать</button>
    </form>    
</main>

{{ template "footer" }}
{{ end }}